################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/XLagProject/.vs/XLagProject/v15
/XLagProject/.vs/config
/XLagProject/Binaries/Win64/UE4Editor-XLagProject-8640.dll
*.pdb
/XLagProject/Intermediate/Build
/XLagProject/Saved
/XLagProject/Intermediate/Staging
/XLagProject/Build/WindowsNoEditor/FileOpenOrder
